@import url('https://use.fontawesome.com/releases/v5.14.0/css/all.css');

:root {
  --background-color: #ffe6dd;
  --link-color: ;
  --text-color: #557;
  --title-color: #335;
  --white: #fff;
}

/* cascade */

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background-color);
  color: var(--text-color);
  font: 20px/1.7 'SF Pro Text', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  text-rendering: geometricPrecision;
}

h1 {
  color: #63f;
  font-size: 72px;
  letter-spacing: -.02em;
  line-height: 72px;
}

h2 {
  color: var(--title-color);
  font-size: 36px;
  line-height: 36px;
  margin: 24px 0;
}

li { margin-bottom: 16px; }
li strong { color: var(--title-color); }

a {
  border-bottom: 1px solid #36f6;
  color: #36f;
  display: inline-block;
  text-decoration: none;
}
a:hover { border-color: #36f; }

.Center {
  margin: 0 auto;
  max-width: 800px;
}

body > div { padding: 24px; }
/* body > div:nth-child(2n + 1) { background: #f0f3f6; }
body > div:first-child {
  background: #335;
  color: #fff;
} */